#planets img {
  width: 100px;
  height: 100px;
}
body {
  background-image: url('images/space.JPG');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white; 
}
body {
  text-align: center;
}



