#planets img {
  width: 100px;
  height: 100px;
}
body {
  background-image: url('images/space.JPG');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
body {
  text-align: center;
}
h1 {
  color: red; 
}



